#dropdown {
    position: relative;
    padding: 0 0 0px 40px;
}

#dropdown-list {
    display: none;
    position: absolute;
    top: 70%;
    padding: 12px;
    right: 0;
    background-color:white;
    width:120px;
    border-radius: 0.75rem;
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.15);
    text-align: center;
}

#logout:hover {
    color: #2E94B9;
    cursor: pointer;
}

#logout {
    margin: 0;
}